tornado>=5.0
user-agents
flask
django
aiohttp
starlette
uvicorn[standard]
aiofiles
bokeh
pandas
cutecharts
pyecharts
plotly
Pillow
selenium==3.*
percy-python-selenium==0.1.3
coverage
sphinx==3.*
sphinx-tabs
sphinx-rtd-theme==0.4.*
sphinx-toolbox==2.15.0
numpy
matplotlib
pywebio
